*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("https://i.pinimg.com/736x/98/4f/bf/984fbfeebfe5fdcf2dbe936e07675d11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.logo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 20px;
}
.main{
    max-width: 1400px;
    margin: 0 auto;
}
h3{
    font-family: cursive;
    font-size: 45px;
    margin-bottom: 10px;
}

.my-form{
    height: 600px;
    border: 1px solid;
    width: 40%;
    background-color: rgba(104, 74, 132,0.5);
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 90px;
    /* opacity: 1.5; */

}
label{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10px;
}
input{
    height: 40px;
    width: 400px;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px;
    font-size: 20px;
    padding-left: 10px;
    /* background-color: gray; */

}
input:focus{
    outline: none;
}
#submit-btn , .login-btn {
    height: 30px;
    width: 200px;
    background-color:palevioletred;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
}
#login-link , .signup-link{
    text-decoration: underline;
    color:blue;
    font-size: 20px;
    margin-top: 10px;

}
#submit-btn ,#login-link , .signup-link:hover{
    cursor: pointer;
    transform: scale(110%);
}


.post-det{
    height: 600px;
    width: 30%;
    text-align: center;
    background-color: aquamarine;
    margin: 100px;
    border: 1px solid;
    background-color: rgba(104, 74, 132,0.5);
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 90px;
    padding: 10px;
    display: none;

    
}
#title{
    width: 200px;
}
#description{
    width: 300px;
    height:80px ;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    
}
#description:focus{
    outline: none;
}
.post-det label{
    font-family: Arial, Helvetica, sans-serif;
}
#post-btn{
    height: 30px;
    width: 200px;
    background-color:palevioletred;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
}
#post-btn:hover{
    cursor: pointer;
    transform: scale(110%);
}
.swal-modal {
  background-color:palevioletred !important; 
  color: white !important;
}

#card-logo{
height: 100px;
width: 100px;
border-radius: 50%;
}
.post-card{
    /* display: none; */
    height: fit-content;
    width: fit-content;
    display: none;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-top:90px ;
     background-color: rgba(104, 74, 132,0.5);
     border: 1px solid;
}
#user-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: black;
    font-size: 30px;
    padding: 30px;

}
#titlecontainer{
    text-align: left;
    color: black;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: capitalize;
}
#descriptioncontainer{
    font-size: 20px;
    color: black;
    text-align: left;
    
}

.edit-btn{
    background-color:peru;
    color: black;
    width: 100px;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 20px;
}
.delete-btn{
    color: black;
    width: 100px;
    border: none;
    border-radius: 15px;
    height: 30px;
    font-size: 20px;
    background-color:brown;
}

#login-div{
    height: 500px;
    border: 1px solid;
    width: 40%;
    background-color: rgba(104, 74, 132,0.5);
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 90px;
    display: none;
}
